body{
    background-size: cover;
}

.heading
{
    width: 100%;
    margin: 0px;
    font-size: 25px;
}

.note
{
    color: black;
    font-size: 25px;
}

canvas{
border:5px solid rgb(236, 41, 116);
border-radius: 20px;
box-shadow: 10px 10px 20px rgb(199, 23, 23);
    
    
}